// Настройка четвертой страницы

.fourth-page {
  background-image: url('../img/fourth-page/background-4.jpg');
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}