// Основные цвета на сайте

$white: #ffffff;
$snow: #fffafa;
$yellow: #f8b43a;
$green: #8ac03e;
$orange: #e25028;
$dark: #2f3234;

// Цвета для выделения мышкой

$darkGrey: #383838;
$deepGreen: #80ac6d;